Package: me.memor1es.chargepain
Name: ChargePain
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Install this on a friends phone and she/he will get a surprise when the phone charger gets plugged into the phone
Maintainer: Memor1es <memories@memor1es.me>
Author: Memor1es <memories@memor1es.me>
Section: Tweaks
